.BottomToolbarButton {
    /*/
    outline: 1px dotted red;
    /**/

    display: inline-block;

    border: 1px solid #444 /* <- TODO: !!! Unite colors ACRY */;
}

.right img {
    transform: rotate(90deg);
}

.left img {
    transform: rotate(270deg);
}

.down img {
    transform: rotate(180deg);
}
