.App {
    /**/
    outline: 1px dotted red; /**/


    
}

.ProcessesList {
    /*/
    outline: 1px dotted red;/**/
}

.ProcessTerminal {
    /*/
    outline: 1px dotted red;/**/
}

.BottomToolbar {
    /*/
    outline: 1px dotted red;/**/
}
